*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Futura", sans-serif;
  color: black;
  background-color: white;
}

.menu {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display:flex;
    border-bottom: solid 1px #aaa;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    padding-left: 3rem;
    gap: 2rem;
    align-items: center;
    justify-content: left;
    list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}
.menu > ul {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  list-style: none;
}

.logo {
  display: flex;
  gap: 5px;
  text-align: center;
  text-decoration: none;
  color: rgb(5, 5, 5);
  font-weight: 400;
  font-size: 14px;
  color: #33a19f;
}
.planet {
  font-weight: 700;
}
.skin {
  font-weight: 700;
  color: #e0a6b1;
}

nav ul li a {
  text-align: center;
  text-decoration: none;
  color: rgb(5, 5, 5);
  font-weight: 400;
  font-size: 14px;
  color: #33a19f;
}

.dropdown > a {
  display: inline-flex;       
  align-items: center;        
  gap: 0.4rem;               
  padding-right: 10px;       
  text-decoration: none;
}

.dropdown > a::after {
  content: "く";               
  font-size: 0.6em;                         
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit;             
  margin-left: 0.15rem;
  pointer-events: none;
  transform:rotate(-90deg);     
}

.lang-boton {
    position: fixed;
    top: 1rem;           
    right: 1rem;         
    
    display: flex;
    align-items: center;
    gap: 5px;
    
    background-color: #ea9fa6;
    color: white;
    
    border: none;
    border-radius: .3rem;

    padding: 0rem 1rem;  
    font-size: 0.85rem;
}
.lang-boton img {
    width: 18px;
    height: auto;
    margin-right: 4px;
}
.lang-boton .arrow {
    margin-left: 10px;
    font-size: 0.8rem;
}

h1 {
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    margin:0px;
}

h2 {
    color: white;
    font-weight: 400;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    margin:0px;
    
}

.hero {
    height: 70vh;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), 
    url("img/sk_fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    gap:1.5rem;

}

.boton-hero {
    display: inline-block;
    width: auto;
    align-self: flex-start;
    background-color: #ea9fa6;
    color: white;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    font-size: 0.7rem;
}

.carrusel-dots {
    position: absolute;
    bottom: 0%;
    right:0%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.carrusel-dots .dot {
  width: 12px;
  height: 12px;
  background-color: none;
  border: 1px solid white;
  border-radius: 50%;
}
.carrusel-dots .dot-active {
  width: 12px;
  height: 12px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
}

.banner{
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.planet-skin-club {
    display: flex;
    align-items: center;
    gap:15px;
    background-color: #ea9fa6;
    color: white;
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 0.8rem;
    font-size: 0.8rem;
}
.chat {
    display: flex;
    align-items: center;
    background-color: #ea9fa6;
    padding: 0.5rem;
    border-radius: 3rem;
    
}
.menu-toggle {
    display: none;          
    background: none;       
    border: none;           
    font-size: 2rem;      
    cursor: pointer;        
    color: #33a19f;         
    margin-right: 1rem;     
}

@media (max-width: 479px) {
  .menu {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    padding-left: 2rem;

  }
  .logo {
    position: absolute;
    left:50%;
    transform: translateX(-50%);

  }
  .menu-toggle {
    display: block;         /* mostrar hamburguesa */
  }

  .menu > ul {
    display: none;          /* ocultar menú */
    flex-direction: column;
  }

  .menu.open > ul {
    display: flex;          /* mostrar al abrir */
  }
  .carrusel-dots {
    position:static;
    display: flex;
    justify-content: flex-start; /* alineado a la izquierda */
    gap: 0.5rem;
  }
  .hero {
    padding: 2rem;
  }

}

@media (min-width: 479px) and (max-width: 767px) {
  .menu-toggle {
    display: none; 
  }

  .menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    background: white;      /* o el color que uses */
    flex-direction: column;
    z-index: 9999;
  }

  .menu > ul {
    flex-direction: column;
    gap: 1rem;
  }

  main, .hero {
    margin-left: 200px; /* mismo ancho que el menú */
    padding:1rem;
  }
  .carrusel-dots {
    position:static;
    display: flex;
    justify-content: flex-start; /* alineado a la izquierda */
    gap: 0.5rem;
  }
}


@media (min-width: 768px) {
  .menu-toggle {
    display: none;     /* ocultar hamburguesa */
  }

  .menu {
    position: static;  /* posición normal */
    flex-direction: row;
  }

  .menu > ul {
    display: flex;      /* menú horizontal */
    flex-direction: row;
    gap: 1rem;
  }
}